<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daydayweather">

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-feature
        android:name="android.permission.ACCESS_COARSE_LOCATION"
    android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sunset"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sunset"
        android:supportsRtl="true"
        android:theme="@style/Theme.DayDayWeather">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>